.carousel {
  text-align: center;
}
.carousel {
  min-height: unset;
}
.testimonials-carousel .control-arrow {
display: none;
}
.carousel-status {
  display: none;
}
.testimonials-carousel .control-dots {
display: none;
}
.testimonial-item img {
  width: 50% !important;
  height: 20% !important;
}